<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vendor_listing_data_source" xsi:type="string">Test2\Developer\Model\ResourceModel\Dev\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Test2\Developer\Model\ResourceModel\Dev\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">test_dev</argument>
            <argument name="resourceModel" xsi:type="string">Test2\Developer\Model\ResourceModel\Dev</argument>
        </arguments>
    </virtualType>
</config>