<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- ContactsGridDataProvider -->

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="movie_index_listing_data_source" xsi:type="string">
                    Magenest\Movie\Model\ResourceModel\MagenestMovie\Grid\Collection
                </item>
                <item name="movie_index_director_listing_data_source" xsi:type="string">
                    Magenest\Movie\Model\ResourceModel\MagenestDirector\Grid\Collection
                </item>
                <item name="movie_index_actor_listing_data_source" xsi:type="string">
                    Magenest\Movie\Model\ResourceModel\MagenestActor\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magenest\Movie\Model\ResourceModel\MagenestMovie\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_movie</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\MagenestMovie</argument>
        </arguments>
    </virtualType>

    <virtualType name="Magenest\Movie\Model\ResourceModel\MagenestDirector\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_director</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\MagenestDirector
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magenest\Movie\Model\ResourceModel\MagenestActor\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magenest_actor</argument>
            <argument name="resourceModel" xsi:type="string">Magenest\Movie\Model\ResourceModel\MagenestActor</argument>
        </arguments>
    </virtualType>

    <!--    plugin-->
    <type name="Magento\Checkout\CustomerData\AbstractItem">
        <plugin name="MovieProduct" type="Magenest\Movie\Plugin\Product" sortOrder="1" disabled="false"/>
    </type>
</config>
