<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="save_vendor">
        <observer name="set_approved" instance="Test2\Developer\Observer\SetApprovedCustomer" disabled="true"/>
    </event>
</config>