<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Test2_Developer::manage"
                title="Vendor"
                module="Test2_Developer"
                sortOrder="40"
                action="dev/index/vendor"
                resource="Test2_Developer::manage"/>
    </menu>
</config>