<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Test3_Hotel::hotel"
                title="Hotels"
                module="Test3_Hotel"
                sortOrder="34"
                resource="Test3_Hotel::hotel"/>

        <add
                id="Test3_Hotel::allhotel"
                title="All Hotels"
                module="Test3_Hotel"
                sortOrder="10"
                action="hotel/index/index"
                parent="Test3_Hotel::hotel"
                resource="Test3_Hotel::allhotel"/>
        <add
                id="Test3_Hotel::booking"
                title="Booking Management"
                module="Test3_Hotel"
                sortOrder="10"
                action="hotel/order/double"
                parent="Test3_Hotel::hotel"
                resource="Test3_Hotel::booking"/>
    </menu>
</config>