<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Test3_Hotel::hotel"
                title="Hotel"
                module="Test3_Hotel"
                sortOrder="34"
                action="hotel/index/index"
                resource="Test3_Hotel::hotel"/>
    </menu>
</config>